@import '../styles/colors.scss';
@import '../styles/media-queries.scss';

.header {
  background-color: transparent;
  font-size: 20px;
  position: fixed;
  z-index: 3;
  width: 100%;
  transition: all ease-out 0.5s;

  &.active {
    background-color: opacify($second-color, 1);
  }

  .link {
    color: $forth-color;

    &:hover {
      color: $primary-color;
    }
  }
  .navLinks {
    display: none;
  }

  @include for-desktop-and-large {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

    .navLinks {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 70%;
    }
  }

  @include for-phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin-right: 40px;
  }
}

.menuOpened {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: transparent;
  z-index: 1000;
  left: 0;
  background-color: $forth-color;

  .navLinks {
    position: absolute;
    top: 10%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70vh;

    .link {
      color: $second-color;
    }
  }

  .image {
    display: none;
  }
}
