@import '../../styles/media-queries.scss';
@import '../../styles/colors.scss';

.quemSomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $second-color;
  height: auto;

  .title {
    font-size: 40px;
    color: $primary-color;
    text-align: center;
  }

  .values {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .value {
      width: 20%;
      color: $forth-color;
      font-size: 20px;

      .icon {
        width: 100px;
        height: 40px;
      }
    }
  }
}
