@import '../styles/colors.scss';

.form {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;
  grid-template-areas:
    'input1 input2 '
    'input3 input4'
    'input5 input6'
    'textArea textArea'
    'button button';
  row-gap: 10px;

  .checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 6px;
    justify-content: start;
    margin-bottom: 10px;
    grid-area: input;
  }

  .label {
    font-size: 20px;
    margin-top: 10px;
  }

  .input {
    width: 80%;
    padding: 5px 10px;
    border: 2px solid $primary-color;
  }

  textarea {
    background: transparent;
    color: $second-color;
    width: 80%;
    border: 2px solid $primary-color;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .options {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .textAreaGrid {
    grid-area: textArea;
  }
  .inputGrid1 {
    grid-area: input1;
  }
  .inputGrid2 {
    grid-area: input2;
  }
  .inputGrid3 {
    grid-area: input3;
  }
  .inputGrid4 {
    grid-area: input4;
  }
  .inputGrid5 {
    grid-area: input5;
  }
  .inputGrid6 {
    grid-area: input6;
  }
}
