@import './media-queries.scss';
@import './colors.scss';

.container {
  max-width: 1600px;
  margin: 0 auto;

  .tituloHome {
    font-size: 40px;
    color: $forth-color;
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
  }

  .paragrafoHome {
    font-size: 22px;
    color: $forth-color;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    padding: 18px 118px;
  }
}
