@import '../styles/colors.scss';
@import '../styles/media-queries.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100vw;

  .quemSomos {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .content {
      text-align: center;
      color: $third-color;
      padding: 20px 100px;
      font-size: 2rem;
      margin-top: 0;
    }
  }
}
