.carousel {
  background-color: orange;
  position: absolute;
  top: 50%;
  left: 20%;
  background-color: transparent;
  animation: show 600ms ease-out;
}

.carouselItem {
  display: none;
}

.carouselItemActive {
  display: block;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100vh);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
