@import '../../styles/colors.scss';
@import '../../styles/media-queries.scss';

.footer {
  background-color: $second-color;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 'navlinks  contactInfos logo';
  position: relative;

  @include for-phone {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navLinks {
    grid-area: navlinks;
    @include for-phone {
      display: none;
    }

    @include for-desktop-and-large {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      color: white;
      height: 200px;
      justify-content: space-around;
      font-size: 24px;
      margin-left: 50px;
      margin-bottom: 10px;
      .link {
        width: 50%;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .contacts {
    grid-area: contactInfos;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @include for-desktop-and-large {
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 10px;
    }

    .contactInfo {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      .info {
        @include for-phone {
          font-size: 2vh;
        }
        color: white;
        font-size: 24px;
        margin-left: 10px;
      }

      .icon {
        font-size: 30px;
        color: $primary-color;
        margin-left: 10px;
      }
    }
  }
  .image {
    grid-area: logo;

    @include for-phone {
      margin-right: 20px;
      width: 100px;
    }

    @include for-desktop-and-large {
      position: absolute;
      right: 28%;
      top: 24%;
    }
  }
}

.midias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lighten($second-color, $amount: 10%);
  height: 50px;

  .mention {
    margin-left: 50px;
    color: $third-color;
  }
  .socialMidias {
    margin-right: 50px;

    .iconMidias {
      font-size: 28px;
      color: $primary-color;
      margin-left: 10px;
    }
  }
}
