@import '../../styles/media-queries.scss';
@import '../../styles/colors.scss';

.texts {
  position: absolute;
  top: 40%;
  left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tituloHome {
    font-size: 40px;
    color: $primary-color;
    text-align: center;
  }

  .paragrafoHome {
    margin-top: 0;
    font-size: 22px;
    color: $forth-color;
    text-align: center;
    padding: 18px 118px;
  }
}
