@import '../../styles/media-queries.scss';
@import '../../styles/colors.scss';

.texts {
  background-image: url('../../public/images/home.jpg');
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;

  .paragrafoHome {
    margin-top: 0;
    font-size: 28px;
    color: $forth-color;
    text-align: center;
    padding: 18px 118px;
    font-style: normal;
    font-weight: 400;
    animation: fadeIn 750ms ease-out;

    @include for-phone {
      padding: 0;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
