@import '../../styles/media-queries.scss';
@import '../../styles/colors.scss';

.texts {
  background-image: url('../../public/images/home.jpg');
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;

  .tituloHome {
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    color: $primary-color;
    text-align: center;
    font-size: 46px;
    animation: show 1s ease-out;
  }

  .paragrafoHome {
    margin-top: 0;
    font-size: 28px;
    color: $forth-color;
    text-align: center;
    padding: 18px 118px;
    font-style: normal;
    font-weight: 400;
    animation: fadeIn 750ms ease-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
