@import '../../styles/colors.scss';
@import '../../styles/media-queries.scss';

.firstBlock {
  position: relative;
  margin-bottom: -4px;
  @include for-phone {
    display: flex;
    height: 50vh;
  }

  .serviceName {
    @include for-phone {
      font-size: 30px;
    }
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
  }
}

.descriptionBlock {
  @include for-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;
  column-gap: 100px;
  background-color: black;

  .description {
    display: flex;
    font-size: 26px;
    color: white;
    margin-top: 50px;

    .icon {
      font-size: 40px;
      color: $primary-color;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}

.whyChooseBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;

  .textDescription {
    @include for-phone {
      padding: 0;
    }
    font-size: 26px;
    text-align: center;
    padding: 0 188px;
    margin-bottom: 100px;
    color: white;
  }
}

.contact {
  background-color: $forth-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text {
    grid-area: text;
    font-size: 26px;
    padding: 20px 40px;
    text-align: center;
    margin-bottom: 50px;
  }
}
