@import './media-queries.scss';
@import './colors.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;

  .content {
    display: grid;
    grid-row: auto;
    // margin-top: 100px;
    // margin-left: 50px;

    @include for-desktop-and-large {
      grid-template-columns: 600px 600px;
      grid-template-areas:
        'information information'
        ' contactIcons contactForm '
        'contactIcons contactForm ';
      // column-gap: 100px;
      row-gap: 100px;
    }

    @include for-phone {
      width: 80%;
      grid-row: 200px;
      grid-template-areas:
        'information'
        'contactForm'
        'contactForm'
        'contactIcons';
      margin-top: 50px;
      height: 100%;
      justify-content: space-around;
      row-gap: 30px;
    }

    .informations {
      display: flex;
      flex-direction: column;
      font-size: 28px;
      font-weight: 600;
      font-style: normal;
      grid-area: information;
      text-align: center;

      @include for-phone {
        width: 100%;
      }

      .firstMessage {
        color: darken($third-color, $amount: 30%);
      }
    }

    .contactForm {
      grid-area: contactForm;
      background-color: $primary-color;
      color: white;
      text-transform: uppercase;

      @include for-desktop-and-large {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 650px;
        height: 700px;
      }
    }

    .contactIcons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 200px;
      grid-area: contactIcons;
      align-self: flex-start;

      .contacts {
        display: flex;
        align-items: center;
        margin-top: 20px;
        .icon {
          color: $primary-color;
          font-size: 40px;
        }
        .info {
          font-size: 22px;
          display: inline-block;
          color: $third-color;
          margin-left: 20px;
          text-align: center;
        }
      }
    }
  }
}
