@import './media-queries.scss';
@import './colors.scss';

.buttonBlue {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  background-color: $primary-color;
  fill: #ffff;
  border: thick double #32a1ce;
  font-size: 15px;
  color: $forth-color;
  border-radius: 14px 14px 14px 14px;
  box-shadow: 0px 0px 12px 0px rgb(52 189 202 / 100%);
  text-transform: uppercase;
  font-weight: 400;

  &:hover {
    background-color: $forth-color;
    color: $primary-color;
  }
}

.buttonWhite {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: white;
  text-transform: uppercase;
  padding: 10px;
  height: 50px;
  color: $primary-color;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;

  &:hover {
    background-color: $primary-color;
    color: $forth-color;
  }
}

.titleBlue {
  color: $primary-color;
  font-size: 38px;
  text-transform: uppercase;
  display: inline-block;
  align-self: center;
  margin-top: 50px;
  font-weight: 600;
}

.titleBlack {
  color: $second-color;
  font-size: 38px;
  text-transform: uppercase;
  display: inline-block;
  align-self: center;

  @include for-phone {
    color: $forth-color;
  }
}
.svgBlockWhite {
  fill: white;
}
