@import './media-queries.scss';
@import './colors.scss';

.buttonBlue {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  background-color: $primary-color;
  fill: #ffff;
  border: thick double #32a1ce;
  font-size: 15px;
  color: $forth-color;
  border-radius: 14px 14px 14px 14px;
  box-shadow: 0px 0px 12px 0px rgb(52 189 202 / 100%);
  text-transform: uppercase;
  font-weight: 400;

  &:hover {
    background-color: $forth-color;
    color: $primary-color;
  }
}

.buttonWhite {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: white;
  text-transform: uppercase;
  padding: 10px;
  height: 50px;
  color: $primary-color;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;

  &:hover {
    background-color: $primary-color;
    color: $forth-color;
  }
}

.titleBlue {
  color: $primary-color;
  font-size: 38px;
  text-transform: uppercase;
  display: inline-block;
  align-self: center;
  margin-top: 100px;
  font-weight: 600;
  animation: fadeIn 750ms ease-out;
  grid-area: title;
  text-align: center;

  @include for-phone {
    font-size: 8vw;
  }
}

.titleBlueMinor {
  color: $primary-color;
  font-size: 30px;
  text-transform: uppercase;
  display: inline-block;
  align-self: center;
  font-weight: 600;
  animation: fadeIn 1s ease-out;
  grid-area: title;
  // padding-right: 20px;

  @include for-desktop-and-large {
    margin-top: 100px;
  }
}

.titleBlack {
  color: $second-color;
  font-size: 38px;
  text-transform: uppercase;
  display: inline-block;
  align-self: center;

  @include for-phone {
    color: $forth-color;
  }
}

.titleWhite {
  color: white;
  font-size: 38px;
  text-transform: uppercase;
  display: inline-block;
  align-self: center;
  margin-top: 100px;
  font-weight: 600;
  animation: fadeIn 750ms ease-out;

  @include for-phone {
    text-align: center;
  }
}

.svgBlockWhite {
  fill: white;
}

.svgBlockBlue {
  fill: $primary-color;
}
.svgBlockBlack {
  fill: black;
}

.svgBlockGrey {
  fill: $second-color;
}

.submitInput {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: $primary-color;
  border-radius: 5px;
  border: white;
  text-transform: uppercase;
  width: 30%;
  height: 50px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  grid-area: button;
  margin-bottom: 40px;

  &:hover {
    background-color: $second-color;
    color: white;
  }

  @include for-phone {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color: black;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
