@import '../styles/colors.scss';
@import '../styles/media-queries.scss';

.form {
  grid-area: contactForm;
  text-transform: uppercase;
  justify-content: center;
  justify-items: center;

  @include for-phone {
    display: flex;
    flex-direction: column;
  }

  @include for-desktop-and-large {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    grid-template-areas:
      'input1 input2 '
      'input3 input4'
      'input5 none'
      'input6 input6'
      'textArea textArea'
      'button button';
    row-gap: 15px;
    grid-area: form;
    margin-bottom: 50px;
    // margin-top: 50px;
    // margin-left: 20px;
    padding-top: 20px;
    background-color: $primary-color;
    color: white;
    width: 650px;
    height: 740px;
  }

  .checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: input;
  }

  .label {
    font-size: 20px;
    margin-top: 10px;
  }

  .input {
    @include for-phone {
      width: 100%;
      margin-bottom: 20px;
    }

    width: 80%;
    padding: 12px 10px;
    border: 2px solid $primary-color;
  }

  textarea {
    @include for-phone {
      width: 100%;
    }

    color: $second-color;
    width: 540px;
    border: 2px solid $primary-color;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .optionsLabel {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .textAreaGrid {
    grid-area: textArea;
  }
  .inputGrid1 {
    grid-area: input1;
  }
  .inputGrid2 {
    grid-area: input2;
  }
  .inputGrid3 {
    grid-area: input3;
  }
  .inputGrid4 {
    grid-area: input4;
  }
  .inputGrid5 {
    grid-area: input5;
    padding-left: 10px;
  }
  .inputGrid6 {
    grid-area: input6;
    display: flex;
    flex-direction: column;

    .input6 {
      padding: 12px 10px;
      border: 2px solid $primary-color;
    }
    @include for-desktop-and-large {
      width: 540px;
    }
  }
}
