@import '../styles/colors.scss';
@import '../styles/media-queries.scss';

.form {
  @include for-phone {
    display: flex;
    flex-direction: column;
  }

  @include for-desktop-and-large {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    grid-template-areas:
      'input1 input2 '
      'input3 input4'
      'input5 input5'
      'input6 input6'
      'textArea textArea'
      'button button';
    row-gap: 10px;
    grid-area: form;
    margin-bottom: 50px;
  }

  .checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 6px;
    justify-content: start;
    margin-bottom: 10px;
    grid-area: input;
  }

  .label {
    font-size: 20px;
    margin-top: 10px;
  }

  .input {
    @include for-phone {
      width: 100%;
    }

    width: 80%;
    padding: 5px 10px;
    border: 2px solid $primary-color;
  }

  textarea {
    @include for-phone {
      width: 100%;
    }

    color: $second-color;
    width: 540px;
    border: 2px solid $primary-color;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .options {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .textAreaGrid {
    grid-area: textArea;
  }
  .inputGrid1 {
    grid-area: input1;
  }
  .inputGrid2 {
    grid-area: input2;
  }
  .inputGrid3 {
    grid-area: input3;
  }
  .inputGrid4 {
    grid-area: input4;
  }
  .inputGrid5 {
    grid-area: input5;
  }
  .inputGrid6 {
    grid-area: input6;
    display: flex;
    flex-direction: column;

    .input6 {
      padding: 5px 10px;
      border: 2px solid $primary-color;
    }
    @include for-desktop-and-large {
      width: 540px;
    }
  }
}
